<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link type="text/css" href="/signup.component.css">
    <title>Create Project</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container">
            <a class="navbar-brand" href="/home">Rose Chatscrum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="/signup" id="signUp">Sign Up</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <a href="/scrumboard/{{projectId}}">Scrum Board</a>
    
    <div class="container">
        <table class="table">
            <tr>
                <th>User</th>
                <th>Admin</th>
                <th>Quality Analyst</th>
                <th>Developer</th>
            </tr>
            <tr *ngFor="let participant of participants">
                <td>{{ participant['user']['nickname'] }}</td>
                <td cdkDropList #role_owner="cdkDropList" [cdkDropListData]="owner"
                    [cdkDropListConnectedTo]="[role_quality_analyst, role_developer]" (cdkDropListDropped)="drop($event)">
                    <div *ngIf="participant['role'] === 'Owner'" [cdkDragData]="participant" cdkDrag>
                        {{ participant['role'] }} </div>
                </td>
                <td cdkDropList #role_quality_analyst="cdkDropList" [cdkDropListData]="qualityAnalyst"
                    [cdkDropListConnectedTo]="[role_owner, role_developer]" (cdkDropListDropped)="drop($event)">
                    <div *ngIf="participant['role'] === 'Quality Analyst'" [cdkDragData]="participant" cdkDrag>
                        {{ participant['role'] }} </div>
                </td>
                <td cdkDropList #role_developer="cdkDropList" [cdkDropListData]="developer"
                    [cdkDropListConnectedTo]="[role_quality_analyst, role_owner]" (cdkDropListDropped)="drop($event)">
                    <div *ngIf="participant['role'] === 'Developer'" [cdkDragData]="participant" cdkDrag>
                        {{ participant['role'] }} </div>
                </td>
            </tr>
    
        </table>
    </div>

    <div>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </div>
</body>

</html>