<!DOCTYPE html>
<html>

<head>
    <title>Scrum</title>
</head>

<body>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark" style="padding: 1.4em; border: none;">
        
        <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/ros4eva/image/upload/v1574765308/Rectangle_3_btfp6e.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="margin-right:2em; margin-top: 5px;">
                            Login
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button type="button" class="btn" style="background: #4DFFD4; padding: 4px 40px; font-weight: bolder;">Sign Up</button>
                        </a>
                    </li>
                </ul>
            </div>
    
    </nav>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo nisi nobis natus quod placeat tempora.</p>
        <p> Explicabo praesentium accusamus voluptatibus ducimus error, maxime officia nisi magni aspernatur quam voluptatum
            amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo nisi nobis natus quod placeat tempora.</p>
        <p> Explicabo praesentium accusamus voluptatibus ducimus error, maxime officia nisi magni aspernatur quam voluptatum
            amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo nisi nobis natus quod placeat tempora.</p>
        <p> Explicabo praesentium accusamus voluptatibus ducimus error, maxime officia nisi magni aspernatur quam voluptatum
            amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo nisi nobis natus quod placeat tempora.</p>
        <p> Explicabo praesentium accusamus voluptatibus ducimus error, maxime officia nisi magni aspernatur quam voluptatum
            amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo nisi nobis natus quod placeat tempora.</p>
        <p> Explicabo praesentium accusamus voluptatibus ducimus error, maxime officia nisi magni aspernatur quam voluptatum
            amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo nisi nobis natus quod placeat tempora.</p>
        <p> Explicabo praesentium accusamus voluptatibus ducimus error, maxime officia nisi magni aspernatur quam voluptatum
            amet.</p>
    </div>

</body>

</html>